
.price-container {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card-hover-effect:hover {
  transform: scale(1.10);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}


.button-container {
  position: relative;
}

.plus-one-animation {
  position: absolute;
  right: 15px;
  top: -10px;

  font-size: 1.5rem;
  font-weight: bold;
  color: #198754;
  pointer-events: none;
  animation: fade-and-rise 1s ease-out forwards;
}
